.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  display: flex;
  align-items: center;
  padding: 24px 35px;
  margin: 0 20px;
  background: #ffffff;
  border-radius: 0 0 12px 12px;
}

.content {
  padding: 100px;
  margin: 0;
  min-height: 500px;
}

.logo {
  display: flex;
  align-items: center;
  margin-right: auto;
}

.logo img {
  width: 40px;
  height: 40px;
  margin-right: 8px;
}

.logo p {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.footer {
  background-color: #221c26;
  color: white;
}

.footerContent {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  border-bottom: 1px solid #ccc;
}

.menu {
  margin-bottom: 24px;
}

.menuRow {
  justify-content: flex-end;
}

.menuTitle {
  margin: 0;
  font-size: 18px;
  font-weight: bold;
  color: #fff;
}

.menuList {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menuList li {
  margin-bottom: 8px;
  color: #ccc;
}

.footerBottom {
  display: flex;
  align-items: center;
  padding-top: 24px;
  color: white;
}

.socialIcons {
  text-align: center;
}

.socialLink {
  color: #ccc;
  font-size: 20px;
  margin-right: 10px;
}

.emailLink {
  text-align: end;
}

.emailLinkText {
  color: white;
}
